# Import the required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Read the datasets
df_08 = pd.read_csv('fuel-economy-datasets/all_alpha_08.csv', sep=',')
df_18 = pd.read_csv('fuel-economy-datasets/all_alpha_18.csv', sep=',')

 Verify that the data was read and saved in the dataframes successfully

In [3]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [4]:
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

# Assessing the 2008 Dataset

## Number of samples & columns

In [5]:
df_08.shape

(2404, 18)

## Duplicate rows

In [6]:
df_08.duplicated().sum()

25

## Datatypes of each column

In [7]:
df_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

## Features with missing values

In [8]:
df_08.isnull().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

## Number of non-null unique values for each feature

### For the 2008 dataset

In [9]:
columns_08 = df_08.columns
for col in columns_08:
    print(col, "has", df_08[col].nunique(),"unique entries")

Model has 436 unique entries
Displ has 47 unique entries
Cyl has 8 unique entries
Trans has 14 unique entries
Drive has 2 unique entries
Fuel has 5 unique entries
Sales Area has 3 unique entries
Stnd has 12 unique entries
Underhood ID has 343 unique entries
Veh Class has 9 unique entries
Air Pollution Score has 13 unique entries
FE Calc Appr has 2 unique entries
City MPG has 39 unique entries
Hwy MPG has 43 unique entries
Cmb MPG has 38 unique entries
Unadj Cmb MPG has 721 unique entries
Greenhouse Gas Score has 20 unique entries
SmartWay has 2 unique entries

# Assessing the 2018 Dataset

## Number of samples & columns

In [10]:
df_18.shape

(1611, 18)

## Duplicate rows

In [11]:
df_18.duplicated().sum()

0

## Datatypes of each column

In [12]:
df_18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

## Features with missing values

In [13]:
df_18.isnull().sum()

Model                   0
Displ                   2
Cyl                     2
Trans                   0
Drive                   0
Fuel                    0
Cert Region             0
Stnd                    0
Stnd Description        0
Underhood ID            0
Veh Class               0
Air Pollution Score     0
City MPG                0
Hwy MPG                 0
Cmb MPG                 0
Greenhouse Gas Score    0
SmartWay                0
Comb CO2                0
dtype: int64

## Number of non-null unique values for each feature

In [14]:
columns_18 = df_18.columns
for col in columns_18:
    print(col, "has", df_18[col].nunique(),"unique entries")

Model has 367 unique entries
Displ has 36 unique entries
Cyl has 7 unique entries
Trans has 26 unique entries
Drive has 2 unique entries
Fuel has 5 unique entries
Cert Region has 2 unique entries
Stnd has 19 unique entries
Stnd Description has 19 unique entries
Underhood ID has 230 unique entries
Veh Class has 9 unique entries
Air Pollution Score has 6 unique entries
City MPG has 58 unique entries
Hwy MPG has 62 unique entries
Cmb MPG has 57 unique entries
Greenhouse Gas Score has 10 unique entries
SmartWay has 3 unique entries
Comb CO2 has 299 unique entries

# fuel Type comparison betwee 2008 and 2018

In [15]:
fuels_2008 = df_08['Fuel'].unique()
fuels_2008

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

In [16]:
fuels_2018 = df_18['Fuel'].unique()
fuels_2018

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)

In [17]:
all_fuels = list(set().union(fuels_2008,fuels_2018))
all_fuels

['Electricity',
 'ethanol',
 'Gasoline',
 'ethanol/gas',
 'diesel',
 'Ethanol/Gas',
 'CNG',
 'Gasoline/Electricity',
 'Diesel']

### fuels in both years

In [18]:
both_years = []
only_2008 = []
only_2018 = []
for fuel in all_fuels:
    if fuel in fuels_2008 and fuel in fuels_2018:
        both_years.append(fuel)
    elif fuel in fuels_2008 and fuel not in fuels_2018:
        only_2008.append(fuel)
    elif fuel in fuels_2018 and fuel not in fuels_2008:
        only_2018.append(fuel)

In [19]:
print(both_years)

['Gasoline']

In [20]:
print(only_2008)

['ethanol', 'ethanol/gas', 'diesel', 'CNG']

In [21]:
print(only_2018)

['Electricity', 'Ethanol/Gas', 'Gasoline/Electricity', 'Diesel']

# Cleaning Column & Column Labels

In [22]:
df_08.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Sales Area', 'Stnd',
       'Underhood ID', 'Veh Class', 'Air Pollution Score', 'FE Calc Appr',
       'City MPG', 'Hwy MPG', 'Cmb MPG', 'Unadj Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [23]:
df_18.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Stnd', 'Stnd Description', 'Underhood ID', 'Veh Class',
       'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay', 'Comb CO2'],
      dtype='object')

## Drop Extraneous Columns

### For the 2008 dataset, we will not be needing the following columns: `'Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'`

In [24]:
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis = 1, inplace = True)

# Verify that the columns were dropped as needed
df_08.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Sales Area',
       'Veh Class', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

### For the 2008 dataset, we will not be needing the following columns: `'Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'`

In [25]:
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis = 1, inplace = True)

# Verify that the columns were dropped as needed
df_18.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Veh Class', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

## Renaming Columns

### Note that some columns in the two datasets have been named differently. For Instance, we have `Sales Area` in the 2008 dataset and `Cert Region` in the 2018 dataset. Change the 2008 dataset as required

In [26]:
df_08.rename(columns={'Sales Area':'Cert Region'}, inplace = True)

# Verify that the column header was changed successfully
df_08.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Veh Class', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

## Replace the spaces between column names with underscores and change all the characters to lowercase

#### For the 2008 dataset

In [27]:
df_08.rename(columns= lambda x: x.strip().lower().replace(' ','_'), inplace = True)

# verify that the column names were changed successfully
df_08.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

#### For the 2018 dataset

In [28]:
df_18.rename(columns= lambda x: x.strip().lower().replace(' ','_'), inplace = True)

# verify that the column names were changed successfully
df_18.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

### Confirm that the column labels for the two datasets are identical

In [29]:
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [30]:
# The check above can also be done as follows:
(df_08.columns==df_18.columns).all()

True

## Save the datasets with the cleaned data in new files

In [31]:
df_08.to_csv('fuel-economy-datasets/data_08_v1.csv', index=False)
df_18.to_csv('fuel-economy-datasets/data_18_v1.csv', index=False)

#################################################################################################################

# Load the datasets with the cleaned column names

In [32]:
new_df_08 = pd.read_csv('fuel-economy-datasets/data_08_v1.csv')
new_df_18 = pd.read_csv('fuel-economy-datasets/data_18_v1.csv')

In [33]:
new_df_08.shape

(2404, 14)

In [34]:
new_df_18.shape

(1611, 14)

# Filter by Certification Region

## Filter the datasets for rows following California standards

In [35]:
# The 2008 Dataset
df_08_CA = df_08.query('cert_region == "CA"')
# The 2018 Dataset
df_18_CA = df_18.query('cert_region == "CA"')

In [36]:
# Confirm certification region is only California (2008)
df_08_CA['cert_region'].unique()

array(['CA'], dtype=object)

In [37]:
# Confirm certification region is only California (2018)
df_18_CA['cert_region'].unique()

array(['CA'], dtype=object)

# Drop the certification region in both datasets

In [38]:
df_08_CA.drop('cert_region', axis = 1, inplace = True)
df_18_CA.drop('cert_region', axis = 1, inplace = True)

/tmp/ipykernel_18632/531422920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08_CA.drop('cert_region', axis = 1, inplace = True)
/tmp/ipykernel_18632/531422920.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_18_CA.drop('cert_region', axis = 1, inplace = True)

In [39]:
df_08_CA.shape

(1084, 13)

In [40]:
df_18_CA.shape

(798, 13)

# Drop Rows with Missing Values

## Check missing value count for each feature in 2008 dataset

In [41]:
df_08_CA.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

### Drop the rows with missing values

In [42]:
df_08_CA.dropna(inplace = True)

/tmp/ipykernel_18632/2769436724.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08_CA.dropna(inplace = True)

In [43]:
# Verify that the rows with null values were dropped.
df_08_CA.isnull().sum().any()

False

## Check missing value count for each feature in 2008 dataset

In [44]:
df_18_CA.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

### Drop the rows with missing values

In [45]:
df_18_CA.dropna(inplace=True)

/tmp/ipykernel_18632/3541200519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_18_CA.dropna(inplace=True)

In [46]:
# Verify that the rows with null values were dropped.
df_18_CA.isnull().sum().any()

False

# Dealing with Duplicates

## check the number of duplicates in each dataset

In [47]:
print(df_08_CA.duplicated().sum())
print(df_18_CA.duplicated().sum())

23
3

## Drop the duplicates in both datasets

In [48]:
df_08_CA.drop_duplicates(inplace = True)
df_18_CA.drop_duplicates(inplace = True)

/tmp/ipykernel_18632/2824582573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08_CA.drop_duplicates(inplace = True)
/tmp/ipykernel_18632/2824582573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_18_CA.drop_duplicates(inplace = True)

In [49]:
# Verify that the duplicates were droped
print(df_08_CA.duplicated().sum())
print(df_18_CA.duplicated().sum())

0
0

# Save the cleaned data in new files

In [50]:
df_08_CA.to_csv('fuel-economy-datasets/data_08_v2.csv')
df_18_CA.to_csv('fuel-economy-datasets/data_18_v2.csv')

###################################################################################################################

# Load the New v2 Datasets

In [51]:
df_08_CA_New = pd.read_csv('fuel-economy-datasets/data_08_v2.csv')
df_18_CA_New = pd.read_csv('fuel-economy-datasets/data_18_v2.csv')

# Assess the datasets to identify more data cleaning issues

In [52]:
df_08_CA_New.head(10)

,Unnamed: 0,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes
5,8,ACURA TL,3.5,(6 cyl),Man-6,2WD,Gasoline,midsize car,7,18,27,21,6,yes
6,14,ACURA TSX,2.4,(4 cyl),Man-6,2WD,Gasoline,small car,6,19,28,22,6,no
7,15,ACURA TSX,2.4,(4 cyl),Auto-S5,2WD,Gasoline,small car,6,20,28,23,7,yes
8,18,ASTON MARTIN DB9,5.9,(12 cyl),Man-6,2WD,Gasoline,small car,6,10,16,12,0,no
9,19,ASTON MARTIN DB9,5.9,(12 cyl),Auto-S6,2WD,Gasoline,small car,6,11,18,13,1,no

In [60]:
df_18_CA_New.head(10)

,Unnamed: 0,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
1,3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
2,4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
3,6,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
4,8,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No
5,10,ACURA TLX AWD A-SPEC,3.5,6.0,SemiAuto-9,4WD,Gasoline,small car,3,20,29,23,5,No
6,12,ACURA TLX FWD A-SPEC,3.5,6.0,SemiAuto-9,2WD,Gasoline,small car,3,20,30,23,5,No
7,14,ALFA ROMEO 4C,1.8,4.0,AutoMan-6,2WD,Gasoline,small car,1,24,34,28,6,No
8,17,ALFA ROMEO Giulia,2.9,6.0,Auto-8,2WD,Gasoline,midsize car,3,17,24,20,4,No
9,22,AUDI A3,2.0,4.0,AMS-6,4WD,Gasoline,small car,7,24,31,27,6,No

In [58]:
df_08_CA_New.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            986 non-null    int64
 1   model                 986 non-null    object
 2   displ                 986 non-null    float64
 3   cyl                   986 non-null    object
 4   trans                 986 non-null    object
 5   drive                 986 non-null    object
 6   fuel                  986 non-null    object
 7   veh_class             986 non-null    object
 8   air_pollution_score   986 non-null    object
 9   city_mpg              986 non-null    object
 10  hwy_mpg               986 non-null    object
 11  cmb_mpg               986 non-null    object
 12  greenhouse_gas_score  986 non-null    object
 13  smartway              986 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 108.0+ KB

In [59]:
df_18_CA_New.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            794 non-null    int64
 1   model                 794 non-null    object
 2   displ                 794 non-null    float64
 3   cyl                   794 non-null    float64
 4   trans                 794 non-null    object
 5   drive                 794 non-null    object
 6   fuel                  794 non-null    object
 7   veh_class             794 non-null    object
 8   air_pollution_score   794 non-null    int64
 9   city_mpg              794 non-null    object
 10  hwy_mpg               794 non-null    object
 11  cmb_mpg               794 non-null    object
 12  greenhouse_gas_score  794 non-null    int64
 13  smartway              794 non-null    object
dtypes: float64(2), int64(3), object(9)
memory usage: 87.0+ KB