# Import the required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Read the datasets
df_08 = pd.read_csv('fuel-economy-datasets/all_alpha_08.csv', sep=',')
df_18 = pd.read_csv('fuel-economy-datasets/all_alpha_18.csv', sep=',')

 Verify that the data was read and saved in the dataframes successfully

In [3]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [4]:
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

# Assessing the 2008 Dataset

## Number of samples & columns

In [5]:
df_08.shape

(2404, 18)

## Duplicate rows

In [6]:
df_08.duplicated().sum()

25

## Datatypes of each column

In [7]:
df_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

## Features with missing values

In [8]:
df_08.isnull().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

## Number of non-null unique values for each feature

### For the 2008 dataset

In [9]:
columns_08 = df_08.columns
for col in columns_08:
    print(col, "has", df_08[col].nunique(),"unique entries")

Model has 436 unique entries
Displ has 47 unique entries
Cyl has 8 unique entries
Trans has 14 unique entries
Drive has 2 unique entries
Fuel has 5 unique entries
Sales Area has 3 unique entries
Stnd has 12 unique entries
Underhood ID has 343 unique entries
Veh Class has 9 unique entries
Air Pollution Score has 13 unique entries
FE Calc Appr has 2 unique entries
City MPG has 39 unique entries
Hwy MPG has 43 unique entries
Cmb MPG has 38 unique entries
Unadj Cmb MPG has 721 unique entries
Greenhouse Gas Score has 20 unique entries
SmartWay has 2 unique entries

# Assessing the 2018 Dataset

## Number of samples & columns

In [10]:
df_18.shape

(1611, 18)

## Duplicate rows

In [11]:
df_18.duplicated().sum()

0

## Datatypes of each column

In [12]:
df_18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

## Features with missing values

In [13]:
df_18.isnull().sum()

Model                   0
Displ                   2
Cyl                     2
Trans                   0
Drive                   0
Fuel                    0
Cert Region             0
Stnd                    0
Stnd Description        0
Underhood ID            0
Veh Class               0
Air Pollution Score     0
City MPG                0
Hwy MPG                 0
Cmb MPG                 0
Greenhouse Gas Score    0
SmartWay                0
Comb CO2                0
dtype: int64

## Number of non-null unique values for each feature

In [14]:
columns_18 = df_18.columns
for col in columns_18:
    print(col, "has", df_18[col].nunique(),"unique entries")

Model has 367 unique entries
Displ has 36 unique entries
Cyl has 7 unique entries
Trans has 26 unique entries
Drive has 2 unique entries
Fuel has 5 unique entries
Cert Region has 2 unique entries
Stnd has 19 unique entries
Stnd Description has 19 unique entries
Underhood ID has 230 unique entries
Veh Class has 9 unique entries
Air Pollution Score has 6 unique entries
City MPG has 58 unique entries
Hwy MPG has 62 unique entries
Cmb MPG has 57 unique entries
Greenhouse Gas Score has 10 unique entries
SmartWay has 3 unique entries
Comb CO2 has 299 unique entries

# fuel Type comparison betwee 2008 and 2018

In [15]:
fuels_2008 = df_08['Fuel'].unique()
fuels_2008

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

In [16]:
fuels_2018 = df_18['Fuel'].unique()
fuels_2018

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)

In [17]:
all_fuels = list(set().union(fuels_2008,fuels_2018))
all_fuels

['Diesel',
 'CNG',
 'Ethanol/Gas',
 'Electricity',
 'ethanol',
 'ethanol/gas',
 'Gasoline/Electricity',
 'Gasoline',
 'diesel']

### fuels in both years

In [18]:
both_years = []
only_2008 = []
only_2018 = []
for fuel in all_fuels:
    if fuel in fuels_2008 and fuel in fuels_2018:
        both_years.append(fuel)
    elif fuel in fuels_2008 and fuel not in fuels_2018:
        only_2008.append(fuel)
    elif fuel in fuels_2018 and fuel not in fuels_2008:
        only_2018.append(fuel)

In [19]:
print(both_years)

['Gasoline']

In [20]:
print(only_2008)

['CNG', 'ethanol', 'ethanol/gas', 'diesel']

In [21]:
print(only_2018)

['Diesel', 'Ethanol/Gas', 'Electricity', 'Gasoline/Electricity']

# Cleaning Column & Column Labels

In [22]:
df_08.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Sales Area', 'Stnd',
       'Underhood ID', 'Veh Class', 'Air Pollution Score', 'FE Calc Appr',
       'City MPG', 'Hwy MPG', 'Cmb MPG', 'Unadj Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [23]:
df_18.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Stnd', 'Stnd Description', 'Underhood ID', 'Veh Class',
       'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay', 'Comb CO2'],
      dtype='object')

## Drop Extraneous Columns

### For the 2008 dataset, we will not be needing the following columns: `'Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'`

In [25]:
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis = 1, inplace = True)

# Verify that the columns were dropped as needed
df_08.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Sales Area',
       'Veh Class', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

### For the 2008 dataset, we will not be needing the following columns: `'Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'`

In [26]:
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis = 1, inplace = True)

# Verify that the columns were dropped as needed
df_18.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Veh Class', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

## Renaming Columns

### Note that some columns in the two datasets have been named differently. For Instance, we have `Sales Area` in the 2008 dataset and `Cert Region` in the 2018 dataset. Change the 2008 dataset as required

In [27]:
df_08.rename(columns={'Sales Area':'Cert Region'}, inplace = True)

# Verify that the column header was changed successfully
df_08.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Veh Class', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

## Replace the spaces between column names with underscores and change all the characters to lowercase

#### For the 2008 dataset

In [29]:
df_08.rename(columns= lambda x: x.strip().lower().replace(' ','_'), inplace = True)

# verify that the column names were changed successfully
df_08.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

#### For the 2018 dataset

In [31]:
df_18.rename(columns= lambda x: x.strip().lower().replace(' ','_'), inplace = True)

# verify that the column names were changed successfully
df_18.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

### Confirm that the column labels for the two datasets are identical

In [33]:
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [34]:
# The check above can also be done as follows:
(df_08.columns==df_18.columns).all()

True

## Save the datasets with the cleaned data in new files

In [36]:
df_08.to_csv('fuel-economy-datasets/data_08_v1.csv', index=False)
df_18.to_csv('fuel-economy-datasets/data_18_v1.csv', index=False)